name: Deploy frontend

on:
  push:
    paths:
      - 'frontend/**'
      - '.github/workflows/frontend.yml'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and push frontend image
      run: |
        IMAGE=149591431224.dkr.ecr.eu-north-1.amazonaws.com/frontend-book
        docker build -t $IMAGE ./frontend
        docker push $IMAGE
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ vars.EC2_HOST }}
        username: ${{ vars.EC2_USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          docker stop frontend || true
          docker rm frontend || true
          aws ecr get-login-password --region eu-north-1 | docker login --username AWS --password-stdin 149591431224.dkr.ecr.eu-north-1.amazonaws.com

          docker pull 149591431224.dkr.ecr.eu-north-1.amazonaws.com/frontend-book
        
          docker run -d --name frontend --restart unless-stopped -p 80:80 149591431224.dkr.ecr.eu-north-1.amazonaws.com/frontend-book

    